.products-page {
    background: rgb(246, 251, 255);
}

.products {
    padding-top: 5%;
}

.products img {
    width: 100%;
    height: 400px;
}

.product-text {
    margin: 3%;
    margin-left: 40%;
}

.products-item {
    margin-right: 10%;
    margin-left: 15%;
    /* height: 100px; */
}

.product-row1 {
    display: inline-flex;
}

.product-row2 {
    display: inline-flex;
    margin-top: 5%;
}

.product-row-img1 img {
    width: 15rem;
    height: 15rem;
    /* border-radius: 50%; */
}

.product-row-img1 h4 {
    padding-top: -100px;
}

.product-row-img2 {
    margin-left: 25rem;
}
.product-row-img3 h4{
    margin-left: 2rem;
}
.product-row-img2 img {
    margin-top: 21px;
    width: 15rem;
    height: 13.7rem;
    border-radius: 50%;
}
.product-row-img3 img {
    margin-top: 21px;
    width: 15rem;
    height: 13.7rem;
    border-radius: 50%;
}

.product-row3 {
    margin-left: 25%;
    margin-bottom: 10%;
}
.product-row-img5 img{
    height: 200px;
}

